---
// @ts-nocheck
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { StickyHeader, Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image } from "astro:assets";
import emblem from "@assets/emblem.svg";

const menuitems = [
  {
    "title": "<span><b class='text-brand-gold-text'>How</b> We Help</span>",
    "path": "/how-we-help",
  },
  {
    "title": "<span><b class='text-brand-gold-text'>Who</b> We Help</span>",
    "path": "/who-we-help",
  },
  {
    "title": "<span><b class='text-brand-gold-text'>About</b> Us</span>",
    "path": "/about-us",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={130}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-surface-primary/80 border-border-light backdrop-blur-lg">
    <Container>
      <div
        class="flex flex-col lg:flex-row justify-between items-center relative z-10"
        transition:animate="none">
        <Astronav>
          <div class="flex w-full lg:w-auto items-center justify-between">
            <a
              href="/"
              class="flex items-center gap-2 transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-interactive-primary focus-visible:outline-none rounded-full px-2 -ml-2"
              >
              <Image src={emblem} alt="" class="h-10 w-10" />
              <span class="text-lg">
                <span class="font-bold text-brand-navy">The Financial</span>
                <span class="text-brand-gold-text font-bold"> Helm</span>
              </span>
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-4 h-4 text-content-primary" />
            </div>
          </div>
          <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {
                menuitems.map((item, index) => (
                  <>
                    {item.children && (
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    )}

                    {!item.children && (
                      <li>
                        <a
                          href={item.path}
                          class="flex lg:px-3 py-2 text-sm text-content-secondary hover:text-brand-gold-text transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-interactive-primary focus-visible:outline-none rounded-full">
                          <Fragment set:html={item.title} />
                        </a>
                      </li>
                    )}
                  </>
                ))
              }
            </ul>
            <div class="lg:hidden flex items-center mt-3 gap-4">
              <Link href="https://helm.fyi/book-an-introductory-call" size="md" block>
                Book a No-Obligation Discovery Call
              </Link>
            </div>
          </MenuItems>
        </Astronav>
        <div>
          <div class="hidden lg:flex items-center gap-4">
            <Link
              href="https://helm.fyi/book-an-introductory-call"
              size="sm"
              class="inline-flex items-center group gap-px">
              <span>Book a No-Obligation Discovery Call</span>
            </Link>
          </div>
        </div>
      </div>
    </Container>
  </StickyHeader>
