---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "../styles/colors.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  footerMargin?: boolean;
  noindex?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
  title,
  description = "Expert financial operations and accounting services for scaling ecommerce businesses. We help ambitious founders build finance functions that fuel growth.",
  ogImage,
  footerMargin = true,
  noindex = false
} = Astro.props;

const resolvedImageWithDomain = new URL(
  ogImage || "/opengraph.png",
  Astro.site
).toString();

const makeTitle = title
  ? title + " | " + "The Financial Helm"
  : "The Financial Helm";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      noindex={noindex}
      nofollow={noindex}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: title || "The Financial Helm",
        },
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Remove arrows from list-style - fix for tailwindcss */
      details > summary.list-none::-webkit-details-marker,
      details > summary.list-none::marker {
        display: none;
      }
    </style>
    <!-- Enable this if you want to use Astro ViewTransitions  -->
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
  </body>
</html>
